{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="css/styles.css" />
<link rel="stylesheet" href="css/login.css" />
<link rel="stylesheet" href="css/homepage.css" />
<title>Bahnar Dictionary</title>
{% endblock %} {% block body %}
<div class="topnav">
  <img class="hcmut1-img" src="img/hcmut.png" alt="" />
  <div class="other-project">
    <a href="web1.html"> Web 1</a>
  </div>
  <div class="other-project">
    <a href="web2.html"> Web 2</a>
  </div>
  <div class="other-project">
    <a href="web3.html"> Web 3</a>
  </div>
  <div class="other-project">
    <a href="web4.html"> Web 4</a>
  </div>
  <button class="sign-in">Sign In</button>
  <a class="register" href="register.html">Register</a>
  <center>
    <p class="page-tile">Bahnar Translator</p>
  </center>
  <center>
    <img class="hcmut2-img" src="img/hcmut.png" alt="" />
  </center>
  <p class="copyright">&#169; 2022 HCMUT</p>
  {% endblock %}
</div>
