{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="css/styles.css" />
<link rel="stylesheet" href="css/homepage.css" />
<title>Bahnar Dictionary</title>
{% endblock %} {% block body %}
<div class="topnav">
  <img class="hcmut1-img" src="img/hcmut.png" alt="" />
  <div class="other-project">
    <a href="web1.html"> Web 1</a>
  </div>
  <div class="other-project">
    <a href="web2.html"> Web 2</a>
  </div>
  <div class="other-project">
    <a href="web3.html"> Web 3</a>
  </div>
  <div class="other-project">
    <a href="web4.html"> Web 4</a>
  </div>
  <button class="sign-in">Sign In</button>
  <a class="register" href="register.html">Register</a>
</div>

  <center>
    <p class="page-title">Bahnar Translator</p>
  </center>
  <div>
    <img class="imgs" src="img/Homepage 1.png" alt="" />
  </div>

  <div>
    <div>
      <img class="project-img" id="img1" src="img/Homepage 2.png" alt="" />
      <a class="img-title" id="title1">Web 1</a>
      <a class="Description" id="des1">Brief description of Web 1</a>
      <button class="project-website" id="button1">Link to web 1</button>
    </div>
    <div>
      <img class="project-img" id="img2" src="img/Homepage 3.png" alt="" />
      <a class="img-title" id="title2">Web 2</p>
      <a class="Description" id="des2">Brief description of Web 2</a>
      <button class="project-website" id="button2">Link to web 2</button>
    </div>
    <div>
      <img class="project-img" id="img3" src="img/Homepage 4.png" alt="" />
      <a class="img-title" id="title3">Web 3</a>
      <a class="Description" id="des3">Brief description of Web 3</a>
      <button class="project-website" id="button3">Link to web 3</button>
    </div>
    <div>
      <img class="project-img" id="img4" src="img/Homepage 4.png" alt="" />
      <a class="img-title" id="title4">Web 4</a>
      <a class="Description" id="des4">Brief description of Web 4</a>
      <button class="project-website" id="button4">Link to web 4</button>
    </div>
  </div>
  
  <div class = "participant">
    <a class = "member-title"> View participant</a>
    <a class = "member-description"> Description of participants</a>
    <button class = "member-button">View Members List</button>
    <img class = "member-img" src="img/Homepage 5.png" alt="">
  </div>
  <center>
    <img class="hcmut2-img" src="img/hcmut.png" alt="" />
  </center>
  <p class="copyright">&#169; 2022 HCMUT</p>

  {% endblock %}
