{%extends 'usr/base.html' %} {% block head %}
<title>Homepage</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/homepage.css') }}"
/>
{% endblock %} {%block body %}
<center>
  <p class="page-title center">Bahnar Translator</p></div>
</center>


<div>
  <img
    class="imgs"
    src="{{ url_for('static', filename='img/Homepage 1.png')}}"
    alt=""
  />
</div>
<div class="holder">
  {%for item in info%}
  {% if loop.index is not divisibleby (2) %}
  <div class="subholder">
    <img
      class="project-img"
      src="{{ url_for('static', filename= 'img/upload/')}}{{item['Img']}}"
    />
    <div>
      <h1>{{item.Header}}</h1>
      <h2>{{item.Description}}</h2>
      <a target="_blank" href="{{item.Link}}" type="button" class="btn btn-lg btn-info"
        >Visit</a
      >
    </div>
  </div>
  {% else %}
  <div class="subholder">
    <div>
      <h1>{{item.Header}}</h1>
      <h2>{{item.Description}}</h2>
      <a target="_blank" href="{{item.Link}}" type="button" class="btn btn-lg btn-info"
        >Visit</a
      >
    </div>
    <img
      class="project-img"
      src="{{ url_for('static', filename= 'img/upload/')}}{{item['Img']}}"
      alt=""
    />
  </div>
  {% endif %}
  {% endfor %}
</div>
<!--
<div class="holder">
  
  <div class="subholder">
    <div>
      <h1>Web 1</h1>
      <h2>Brief description of Web 1</h2>
      <a type="button" class="btn btn-lg btn-info">Visit Web 1</a>
    </div>
    <img
      class="project-img"
      src="{{ url_for('static', filename='img/Homepage 2.png')}}"
      alt=""
    />
  </div>
  <div class="subholder">
    <img
      class="project-img"
      src="{{ url_for('static', filename='img/Homepage 3.png')}}"
      alt=""
    />
    <div>
      <h1>Web 2</h1>
      <h2>Brief description of Web 2</h2>
      <a type="button" class="btn btn-lg btn-info">Visit Web 2</a>
    </div>
  </div>
  <div class="subholder">
    <div>
      <h1>Web 3</h1>
      <h2>Brief description of Web 3</h2>
      <a type="button" class="btn btn-lg btn-info">Visit Web 3</a>
    </div>
    <img
      class="project-img"
      src="{{ url_for('static', filename='img/Homepage 4.png')}}"
      alt=""
    />
  </div>
  <div class="subholder">
    <img
      class="project-img"
      src="{{ url_for('static', filename='img/Homepage 4.png')}}"
      alt=""
    />
    <div>
      <h1>Web 4</h1>
      <h2>Brief description of Web 4</h2>
      <a type="button" class="btn btn-lg btn-info">Visit Web 4</a>
    </div>
  </div>
</div>
-->
<div class="participant">
  <div style="margin-top: 50px; margin-left: 160px">
    <h1>More about us</h1>
    <h2>More information on our project and member list</h2>
    <a type="button" href="{{url_for('about_page')}}" style="text-decoration:none;">View more</a>
  </div>
  <img src="{{ url_for('static', filename='img/Homepage 5.png')}}" alt="" />
</div>
<!-- miss hcmut logo and copyright-->

{% endblock %}
