.page-title {
    position: absolute;
    width: 514px;
    height: 69px;
    left: 704px;
    top: 151px;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
}
.imgs{
    position: absolute;
    width: 1920px;
    height: 749px;
    left: 0px;
    top: 327px;
}
.section-title {
    position: absolute;
    font-weight: 700;
    font-size: 50px;
    line-height: 69px;
    text-align: center;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
}
#leader{
    width: 354px;
    height: 69px;
    left: 783px;
    top: 1187px;
}

#other{
    width: 538px;
    height: 69px;
    left: 691px;
    top: 2662px;    
}
.leader-description{
    position: absolute;
    width: 723px;
    height: 68px;
    left: 598px;
    top: 1301px;
    
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    
    color: #888888;
}

.leader-img{
    position: absolute;
    width: 307px;
    height: 216px;
}
#pimg1{
    left: 152px;
    top: 1533px;
}
#pimg2{
    left: 578px;
    top: 1535px;    
}
#pimg3{
    left: 1004px;
    top: 1537px;
}
#pimg4{
    left: 1430px;
    top: 1539px;
}
#pimg5{
    left: 152px;
    top: 2014px;
}
#pimg6{
    left: 578px;
    top: 2016px;
}
#pimg7{
    left: 1004px;
    top: 2018px;
}
#pimg8{
    left: 1430px;
    top: 2020px;    
}


.name{
    position: absolute;
    width: 141px;
    height: 34px;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
}
#name1{
    left: 235px;
    top: 1759px;
}
#name2{
    left: 661px;
    top: 1761px;    
}
#name3{
    left: 1087px;
    top: 1763px;
}
#name4{
    left: 1513px;
    top: 1765px;
}
#name5{
    left: 235px;
    top: 2240px;
}
#name6{
    left: 661px;
    top: 2242px;
    
}
#name7{
    left: 1087px;
    top: 2244px;
}
#name8{
    left: 1513px;
    top: 2246px;

}
.major-title{
    position: absolute;
    width: 147px;
    height: 23px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #00CCFF;
}
#mt1{
    left: 229px;
    top: 1803px;
}
#mt2{
    left: 655px;
    top: 1805px;
}
#mt3{
    left: 1081px;
    top: 1807px;
}
#mt4{
    left: 1507px;
    top: 1809px;
    
}
#mt5{
    left: 229px;
    top: 2284px;
}
#mt6{
    left: 655px;
    top: 2286px;
}
#mt7{
    left: 1081px;
    top: 2288px;
}
#mt8{
    left: 1507px;
    top: 2290px;
    
}
.l-description{
    position: absolute;
    width: 169px;
    height: 23px;

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
}
#ldes1{
    left: 221px;
    top: 1884px;
    
}
#ldes2{
    left: 647px;
    top: 1886px;
}
#ldes3{
    left: 1073px;
    top: 1888px;
}
#ldes4{
    left: 1499px;
    top: 1890px;
}
#ldes5{
    left: 221px;
    top: 2365px;
    
}
#ldes6{
    left: 647px;
top: 2367px;

}
#ldes7{
    left: 1073px;
    top: 2369px;
}
#ldes8{
    left: 1499px;
    top: 2371px;
}
.email{
    position: absolute;
    width: 51px;
    height: 23px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;  
    color: #888888;
}
#e1{
    left: 280px;
    top: 1940px;
    
}
#e2{
    left: 706px;
    top: 1942px;
}
#e3{
    left: 1132px;
    top: 1944px;
    
}
#e4{
    left: 1558px;
top: 1946px;
}
#e5{
    left: 280px;
    top: 2421px;
}
#e6{
    left: 706px;
top: 2423px;
}
#e7{
    left: 1132px;
    top: 2425px;
}
#e8{
    left: 1558px;
    top: 2427px;
}