.page-title {
    position: absolute;
    width: 514px;
    height: 69px;
    left: 704px;
    top: 151px;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
}
.imgs{
    position: absolute;
    width: 1920px;
    height: 749px;
    left: 0px;
    top: 327px;
}
.project-img{
    position: absolute;
    width: 576px;
    height: 377px;
}
#img1{
    left: 1166px;
    top: 1225px;
}
#img2{
    left: 149px;
    top: 1630px;
}
#img3{
    left: 1166px;
    top: 2024px;    
}
#img4{
    left: 149px;
    top: 2430px;
}
.img-title{
    position: absolute;
    width: 147px;
    height: 57px;
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
}
#title1{
    left: 175px;
    top: 1225px;
}
#title2{
    left: 1166px;
    top: 1647px;
}
#title3{
    left: 175px;
    top: 2047px;
}
#title4{
    left: 1166px;
    top: 2453px;
}
.description{
    position: absolute;
    width: 354px;
    height: 34px;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #888888;

}
#des1{
    left: 175px;
    top: 1306px;
}
#des2{
    left: 1166px;
    top: 1728px;
}
#des3{
    left: 175px;
    top: 2128px;
}
#des4{
    left: 1166px;
    top: 2534px;
}
.project-website{
    position: absolute;
    background: #00AAFF;
    border-radius: 8px;
    border: none;
    width: 250px;
    height: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}
#button1{
    left: 175px;
    top: 1457px;
}
#button2{
    left: 1166px;
    top: 1879px;    
}
#button3{
    left: 175px;
    top: 2279px;
}
#button4{
    left: 1166px;
    top: 2685px;
}
.participant{
    position: absolute;
    width: 1829px;
    height: 468px;
    left: 49px;
    top: 2908px;
    background: #00CCFF;
    border-radius: 8px;
}
.member-title{
    position: absolute;
    width: 411px;
    height: 57px;
    left: 290px;
    top: 100px;
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    color: #FFFFFF;
}
.member-description{
    position: absolute;
    width: 288px;
    height: 29px;
    left: 290px;
    top: 170px;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}
.member-button{
    position: absolute;
    width: 448px;
    height: 62px;
    left: 290px;
    top: 250px;
    
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #777777;
}
.member-img{
    position: absolute;
    width: 717px;
    height: 468px;
    left: 1161px;
    top: 0px; 
}