{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/about.css') }}"
/>
<!-- <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'> -->
<title>Bahnar Dictionary</title>
{% endblock %} {% block body %}
<center>
  <p class="page-title">About Us</p>
</center>
<div>
  <img
    class="imgs"
    src="{{ url_for('static', filename='img/Homepage 1.png')}}"
    alt=""
  />
</div>
<div class="content">
  <h2 class="content-header">Summary</h2>
  <p class="content-body">{{info.Summary}}</p>
</div>
<div class="content">
  <h2 class="content-header">Intent</h2>
  <div class="content-body">
    <!-- <p>Đề tài tập trung giải quyết các vấn đề sau:</p>
    <p class="body-item">&#x2022; Xây dựng kho ngữ liệu đơn ngữ tiếng Ba Na, kho ngữ liệu song ngữ Ba Na &#45; Việt, kho ngữ liệu âm thanh cho tổng hợp tiếng Ba Na (bao gồm đủ các phương ngữ)</p>
    <p class="body-item">&#x2022; Xây dựng cấu trúc ngôn ngữ Ba Na làm cơ sở cho việc xây dựng dịch tự động từ văn bản tiếng Việt sang văn bản, tiếng nói Ba Na (bao gồm đủ các phương ngữ).</p>
    <p class="body-item">&#x2022; Phát triển hệ thống ứng dụng dịch tự động từ văn bản tiếng Việt sang văn bản, tiếng nói Ba Na trên điện thoại thông minh, máy tính cá nhân và ứng dụng web (bao gồm đủ các phương ngữ)</p>
     -->
     {%for text in info.Intention%}
     <p>{{text}}</p>
     {%endfor%}
    </div>
</div>
<div class="content">
  <h2 class="content-header">Timeline</h2>
  <p class="content-body">{{info.Timeline}}</p>
</div>
  <div class="content">
    <h2 class="content-header">Member List</h2>
    <div class="">

      <div class="row">
        <div class="card col-1">
          <img class="card-image" src="{{ url_for('static', filename='img/Member 1.png') }}" alt="" />
          <p class="card-name">PGS.TS. Quản Thành Thơ</p>
          <p class="card-role">Chủ nhiệm đề tài</p>
          <p class="card-office">Đại học Bách Khoa &#45; ĐHQG TPHCM &#45; ĐHQG TPHCM</p>
        </div>
      </div>

      <div class="row">
        <div class="card col-4">
          <img class="card-image" src="{{ url_for('static', filename='img/Member 2.png') }}" alt="" />
          <p class="card-name">GS.TS. Phan Thị Tươi</p>
          <p class="card-role">Thành viên chính</p>
          <p class="card-office">Đại học Bách Khoa &#45; ĐHQG TPHCM &#45; ĐHQG TPHCM</p>
        </div>
        <div class="card col-4">
          <img class="card-image" src="{{ url_for('static', filename='img/Member 3.png') }}" alt="" />
          <p class="card-name">PGS.TS. Huỳnh Tường Nguyên</p>
          <p class="card-role">Thư ký Khoa học, 
            Thành viên chính</p>
          <p class="card-office">Đại học Bách Khoa &#45; ĐHQG TPHCM &#45; ĐHQG TPHCM</p>
        </div>
        <div class="card col-4">
          <img class="card-image" src="{{ url_for('static', filename='img/Member 4.png') }}" alt="" />
          <p class="card-name">PGS.TS. Phạm Trần Vũ</p>
          <p class="card-role">Thành viên chính</p>
          <p class="card-office">Đại học Bách Khoa &#45; ĐHQG TPHCM &#45; ĐHQG TPHCM</p>
        </div>
        <div class="card col-4">
          <img class="card-image" src="{{ url_for('static', filename='img/Member 5.png') }}" alt="" />
          <p class="card-name">TS. Phạm Hoàng Anh</p>
          <p class="card-role">Thành viên chính</p>
          <p class="card-office">Đại học Bách Khoa &#45; ĐHQG TPHCM &#45; ĐHQG TPHCM</p>
        </div>
      </div>

      <div class="row">
        <div class="card col-4">
          <img class="card-image" src="{{ url_for('static', filename='img/Member 6.png') }}" alt="" />
          <p class="card-name">TS. Lê Thanh Vân</p>
          <p class="card-role">Thành viên chính</p>
          <p class="card-office">Đại học Bách Khoa &#45; ĐHQG TPHCM &#45; ĐHQG TPHCM</p>
        </div>
        <div class="card col-4">
          <img class="card-image" src="{{ url_for('static', filename='img/Member 7.png') }}" alt="" />
          <p class="card-name">TS. Nguyễn Đức Dũng</p>
          <p class="card-role">Thành viên chính</p>
          <p class="card-office">Đại học Bách Khoa &#45; ĐHQG TPHCM &#45; ĐHQG TPHCM</p>
        </div>
        <div class="card col-4">
          <img class="card-image" src="{{ url_for('static', filename='img/Member 8.png') }}" alt="" />
          <p class="card-name">PGS.TS Nguyễn Tuấn Đăng</p>
          <p class="card-role">Thành viên chính</p>
          <p class="card-office">Đại học Sài Gòn</p>
        </div>
        <div class="card col-4">
          <img class="card-image" src="{{ url_for('static', filename='img/Member 1.png') }}" alt="" />
          <p class="card-name">PGS.TS. Lê Khắc Cường</p>
          <p class="card-role">Thành viên chính</p>
          <p class="card-office">Đại học Quốc tế Hồng Bàng</p>
        </div>
      </div>

      <div class="row">
        <div class="card col-4">
          <img class="card-image" src="{{ url_for('static', filename='img/Member 2.png') }}" alt="" />
          <p class="card-name">TS. Trần Minh Phượng</p>
          <p class="card-role">Thành viên chính</p>
          <p class="card-office">Đại học Khoa học xã hội và Nhân văn &#45; ĐHQG TPHCM</p>
        </div>
        <div class="card col-4">
          <img class="card-image" src="{{ url_for('static', filename='img/Member 3.png') }}" alt="" />
          <p class="card-name">TS. Đỗ Thị Ngọc Diệp</p>
          <p class="card-role">Thành viên chính</p>
          <p class="card-office">Đại học Bách Khoa Hà Nội</p>
        </div>
        <div class="card col-4">
          <img class="card-image" src="{{ url_for('static', filename='img/Member 4.png') }}" alt="" />
          <p class="card-name">TS. Nguyễn Thị Thu Trang</p>
          <p class="card-role">Thành viên chính</p>
          <p class="card-office">Đại học Bách Khoa Hà Nội</p>
        </div>
        <div class="card col-4">
          <img class="card-image" src="{{ url_for('static', filename='img/Member 5.png') }}" alt="" />
          <p class="card-name">TS. Võ Gia Nghĩa</p>
          <p class="card-role">Thành viên chính</p>
          <p class="card-office">Sở Thông tin &#45; Truyền thông Bình Định</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
